@charset "utf-8";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    color: #8f0000;
    background: #f8f8f8;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    opacity: .8;
}

ul {
    list-style: none;
}

/* アイコンフォント */
.material-symbols-outlined {
  font-variation-settings:
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

.fill {
  font-variation-settings:
  'FILL' 1
}

/*** サイドバー ***/
.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    width: 244px;
    height: 100vh;
    border-right: 1px solid #ccc;
    padding: 20px;
    display: flex;
    flex-direction: column;
    background: linear-gradient(180deg, #0f5132, #198754);
}

.logo {
    font-family: "Italianno", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 40px;
    padding-left: .5em;
    margin-bottom: .5em;
}

.g-nav a,
.sub-nav a {
    display: flex;
    align-items: center;
    gap: 6px;
    padding: 12px;
}


.sub-nav {
    margin-top: auto;
}

/*** メインエリア ***/
main {
    margin-left: 244px;
    padding: 40px 0;
}

.story {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: 640px;
    margin: 0 auto 40px;
}

.story-ring {
    width: 90px;
    height: 90px;
    align-items: center;
    justify-content: center;
    display: inline-block;
    padding: 4px;
    border-radius: 50%;
    background: conic-gradient(
        #4ad32fc8 25%,
        #4dff006d 50%,
        #aa1010 75%,
        #7f0303 100%
    );
}

.story-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

article {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}